* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f2f5;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #486c92;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  font-weight: 600;
  animation: fadeInDown 1s ease-out;
  margin-right: auto;
}

input[type="text"],
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

input[type="text"] {
  width: 250px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #818385;
}

select {
  cursor: pointer;
}

#favorites-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

#favorites-image {
  width: 24px; 
  height: 24px;
  margin-right: 5px;
}

#favorites-counter {
  font-size: 16px;
  color: #fff;
}

#country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.country-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 220px;
  width: calc(25% - 20px); /* Responsive width with gap adjustment */
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.country-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 200px;
  transition: transform 0.3s ease;
}

.country-card img:hover {
  transform: scale(1.05);
}

.country-card h2 {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.country-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

button {
  background-color: #454c55;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #101011;
  transform: translateY(-3px);
}

#load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
}

#country-details-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #363636;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  animation: fadeIn 0.8s ease-out;
}

#country-details h2 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

#country-details p {
  font-size: 18px;
  color: #ffffff;
  margin: 8px 0;
  text-align: center;
}


#back-button {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#back-button:hover {
  background-color: #bbb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.favorite-button {
  background-color: #ffcccc;
  border: none;
  color: red;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}


@media (max-width: 1200px) {
  .country-card {
    width: calc(33.33% - 20px); 
  }
}

@media (max-width: 800px) {
  .country-card {
    width: calc(50% - 20px); 
  }

  input[type="text"] {
    width: 200px; 
  }

  h1 {
    font-size: 24px; 
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  input[type="text"] {
    width: 100%; 
  }

  .country-card {
    width: 100%; 
  }
}


.search-container {
  position: relative; 
}

.suggestions-dropdown {
  position: absolute; 
  background-color: #6b88b4;
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  display: none; 
  margin-top: 5px; 
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: hsl(0, 4%, 22%);
}
